@charset "utf8";

/*variavel*/
:root{
    --cor01:#011BF5;
    --cor02:#0016DB;
    --cor03:#0012B5;
    --cor04:#000C75;
    --cor05:#000536;
}
/*pagina*/
*{
    margin: auto;
    padding: 0;
}
body{
    background-color: white;
}
/*cabeçalho*/
header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom,#0016DB,#000536);
    color: white;
    text-shadow: 1px 1px 1px black;
}
/*titulo do cabeçalho*/
header>h1{
    padding-top: 50px;
}
/*paragrafo do cabeçalho*/
header>p{
    padding-top: 20px;
    padding-bottom: 50px;
    width:400px;
}
/*link*/
a{
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px var(--cor03);
}
/*animação do link*/
a:hover{
    text-decoration: underline;
    color:var(--cor05);
    text-shadow: 1px 1px 1px var(--cor05);
}
/*conteudo peincpal*/
main{
    background-color: white;
    max-width: 1000px;
}
/*titulo conteudo principal*/
main>h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
/*paragrafo conteudo principal*/
main>p{
    text-indent: 20px;
    font-family:Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 20px;
    padding-top: 20px;
}
/*lista*/
li{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    list-style-position: inside;
    line-height: 30px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
/*imagem*/
div.img{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.523);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 45vh;
}
div#abobora{
    background-image: url(imagens/abobora.jpg);
}
div#usina{
    background-image: url(imagens/200407-sandouping-sanxiadaba-4.med3.jpg);
}
img{
    width: 100%;
}
/*rodape*/
footer{
    background-color: var(--cor05);
    color: white;
    text-align: center;
    padding: 10px;
}
